body a{
  transition: 0.6s all;
  -webkit-transition: 0.6s all;
  -o-transition: 0.6s all;
  -moz-transition: 0.6s all;
  -ms-transition: 0.6s all;
}
html, body{
    font-size: 100%;
	font-family: 'Roboto', sans-serif;
}
body{
	background:#FFFFFF;
}
.BANBANBAN{
	background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.agileinfo-dot{
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
    padding: 3em 0;
}
/*-- BANBANBAN --*/
div.ex2 {
	max-width:1920px;
	margin: auto;
	border: none;
  }
/*-- header --*/
.agileits-logo {
	text-align:center;
}
.agileits-logo h1{
	margin:0;
}
.agileits-logo h1 a{
    font-size: 2em;
    text-transform: uppercase;
    color: rgb(96, 133, 255);
    text-decoration: none;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 6px;
    padding: 0;
}
.agileits-logo h1 a span{
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 300;
    color: #FFFFFF;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
    box-shadow: none;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-nav {
    float: none;
    text-align: center;
    background: none;
    margin: 4em 0 0 0;
}
.header-top-info ul li{
    display: inline-block;
    float: none;
}
.navbar-nav li:after {
    content: "";
    position: absolute;
    background: #FFFFFF;
    height: 7px;
    width: 7px;
    top: 16px;
    left: 0;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
}
.navbar-nav li.active:after {
    background: none !important;
    width: 0px !important;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    border: solid 2px rgba(255, 255, 255, 0);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
	border: solid 2px #ffffff;
    background: none;
    border-radius: 20px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-nav > li > a {
    font-size: 1em;
    padding: .5em 2em;
    margin: 0 1em;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    border: solid 2px #ffffff;
    background: none;
    border-radius: 20px;
}
/*-- //header --*/
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/*--LIDS--*/
#LIDS2,
#LIDS3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.RSLDS_tabs li:first-child {
  margin-left: 0;
}
.RSLDS_tabs .RSLDS_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.CBS_FRAME {
  position: relative;
  float: left;
  width: 100%;
}
.CBS {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.CBS li {
  position: absolute;
  width: 100%;
}
.CBS img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.CBS .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.CBS_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: 109px;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: transparent url(../images/arrows.png) no-repeat left top;
}
.CBS_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
 }
 .CBS_nav.prev {
    right: auto;
    background-position: left top;
    left: 0;
}
#LIDS3-pager a {
  display: inline-block;
}
#LIDS3-pager span{
  float: left;
}
#LIDS3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#LIDS3-pager .RSLDS_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#LIDS3-pager a {
  padding: 0;
}
#LIDS3-pager li{
	display:inline-block;
}
.RSLDS {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}

.RSLDS li{
  position: relative;
  display: block;
  float: left;
}
.RSLDS img {
  height: auto;
  border: 0;
  }
.CBS_tabs{
    list-style: none;
    position: absolute;
    top: 116%;
    left: 48%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 999;
}
.LIDS-top span{
	font-weight:600;
}
.CBS_tabs li{
    display: inline-block;
    margin: 0;
}
/*----*/
.CBS_tabs a{
 visibility: hidden;
}
.CBS_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.CBS_here a:after{
    background: rgb(102, 138, 236);
    border: 2px solid #ffffff;
}
/*-- //LIDS --*/
/*-- WLAY-BAN --*/
.WLAY-BAN {
    padding: 8em 0;
}
.BWEN {
    text-align: center;
}
.BWEN h3 {
    color: #FFFFFF;
    font-size: 7em;
    margin: 0;
    font-weight: 100;
    text-transform: uppercase;
}
.BWEN p {
    color: #FFFFFF;
    font-size: 1em;
    margin: 2em 0;
    letter-spacing: 2px;
}
.WBTOONN {
    position: relative;
    margin: 0;
    padding: 1em;
    z-index: 1;
}
.WBTOONN a {
    color: #FFFFFF;
    font-size: 1em;
    padding: .5em 1em;
    border: solid 2px #fff;
    text-decoration: none;
    border-radius: 30px;
    margin: 0;
    background:rgb(102, 138, 236);
}
.WBTOONN a:hover {
    color: #FFFFFF;
    background:none;
    border: solid 2px #FFFFFF;
}
/*-- //WLAY-BAN --*/
/*-- about--*/
.about,.markets,.portfolio,.TSTMNAL-dot,.GROUP,.NEEEWS,.mail{
    padding: 4em 0;
}
.welcome{
    border-bottom: 1px dashed #ccc;
    padding-bottom: 1em;
	text-align:center;
}
.AGTS-TT h2,.AGTS-TT h3{
    font-size: 4em;
    color: rgb(102, 138, 236);
    margin: 0;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.AGTS-TT p {
    font-size: 1em;
    color: #999;
    line-height: 1.8em;
    margin: 1em auto 0;
    width: 65%;
} 

.w3about-img {
    background: url(../images/2.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 30em;
    padding: 0;
	position:relative;
}
.w3about-text {
    background: #f2f2f2;
    position: absolute;
    width: 56%;
    padding: 3em;
    right: -30%;
    top: 27%;
}
.w3about-text h5 {
    font-size: 2.5em;
    color: #212121;
    margin: 0;
} 
.w3about-text p{
	color:grey;
	font-size:.9em;
	line-height:1.8em;
	margin:1em 0 0 0;
}
/*-- //about--*/
/*-- markets --*/
.markets{
	background: #ececec;
}
.wthree-heading h3,.agileits-top-heading h2 {
    color: #212121;
    font-size: 2.5em;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.wthree-heading{
	text-align:center;
}
.markets-grids,.agileits-feedback-grids,.WTHREE-AGEits-newsletter,.GROUP-grids,.agile-CALMEE-form,.WTHREE-AGE-TSTMNAL,.wthree-NEEEWS-grids,.w3_mail_grids,.AG-GROUP-grids{
    margin: 4em 0 0 0;
}
.agileits-icon-grid {
    padding: 2em;
    background: #FFFFFF;
    box-shadow: 0 0px 1px rgb(107, 107, 107), 0 1px 2px rgba(0,0,0,.24);
}
.icon-left{
	float: none;
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 1.2em 0 0 0;
    margin: 0 auto 1em;
    background: #ff9800;
}
.icon-left i.fa{
    color: #FFFFFF;
    font-size: 2em;
}
.icon-right{
    float: none;
    width: 100%;
    text-align: center;
}
.icon-right h5{
    color: #212121;
    font-size: 1em;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.icon-right p{
	color: grey;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}
.w3ls-markets-grid:nth-child(4),.w3ls-markets-grid:nth-child(5),.w3ls-markets-grid:nth-child(6){
	margin:3em 0 0 0;
}

/*-- model --*/
.AGL-WLOT-INFO img{
	width:100%;
}
.MD-HHDER h4 {
    margin: 0;
    font-size: 2em;
    text-transform: uppercase;
    color: #FF9800;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 6px;
    padding: 0;
}
.MD-HHDER h4 span{
	text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 300;
    color: #212121;
}
.MD-BBDY p{
    margin: 1em 0 0 0;
    font-size: .875em;
    color: grey;
    line-height: 1.8em;
}
/*-- //model --*/
/*-- TSTMNAL --*/
.TSTMNAL{
	background:url(../images/1.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.TSTMNAL-dot{
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
}
.TSTMNAL-heading h3{
	color:#FFFFFF;
}
.TSTMNAL-heading h5{
	color:#FFFFFF;
}
.TSTMNAL-img-grid{
    width: 28%;
    margin: 0 auto;
}
.TSTMNAL-img{
	float: left;
    width: 26.33%;
}
.TSTMNAL-img:nth-child(2){
	margin:0 2em;
}
.TSTMNAL-img img{
	width:100%;
	border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
}
.t-img1 img,.t-img2 img{
	opacity: 0.6;
}
.T-IMAGE-info{
	margin:2em 0 0 0;
}
.T-IMAGE-info{
	text-align:center;
}
.T-IMAGE-info p{
    color: #FFFFFF;
    font-size: .9em;
    margin:0 auto;
	width:60%;
    line-height: 1.8em;	
}
.T-IMAGE-info h5{
    color: #FFFFFF;
    font-size: 1em;
    margin: 1em 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.T-IMAGE-info h6{
	color: #FFFFFF;
    font-size: .9em;
    margin: 1em 0;
    font-style: italic;
}
/*-- //TSTMNAL --*/
/*-- GROUP --*/
.GROUP-heading h4{
    color: rgba(255, 255, 255, 0.47);
}
.GROUP-INFO{
    position: relative;
    overflow: hidden;	
}
.GROUP-INFO img{
	width:100%;
}
.GROUP-CAP h4{
    color: #FFFFFF;
    font-size: 1.5em;
    margin: .5em 0 0 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.GROUP-CAP p{
    color: #eaeaea;
    font-size: .9em;
    margin: 0;
}
.GROUP-CAP ul{
    padding: 0;
    margin: 1em 0 0 0;
}
.GROUP-CAP ul li{
    display: inline-block;
}
.GROUP-CAP ul li a {
	color: #333;
    text-align: center;
}
.GROUP-CAP ul li a i.fa.fa-facebook{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.6s all;
    -webkit-transition: 0.6s all;
    -moz-transition: 0.6s all;
    -o-transition: 0.6s all;
    -ms-transition: 0.6s all;
}
.GROUP-CAP ul li a i.fa.fa-facebook:hover {
    background: #3b5998;
}
.GROUP-CAP ul li a i.fa.fa-twitter{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.6s all;
    -webkit-transition: 0.6s all;
    -moz-transition: 0.6s all;
    -o-transition: 0.6s all;
    -ms-transition: 0.6s all;
}
.GROUP-CAP ul li a i.fa.fa-twitter:hover{
	background: #4ea6e9;
}
.GROUP-CAP ul li a i.fa.fa-rss{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.6s all;
    -webkit-transition: 0.6s all;
    -moz-transition: 0.6s all;
    -o-transition: 0.6s all;
    -ms-transition: 0.6s all;
}
.GROUP-CAP ul li a i.fa.fa-rss:hover{
	background: #f26522;
}
.GROUP-CAP {
    background: rgb(102, 138, 236);
    padding: 1em;
    position: absolute;
    left: 0;
    bottom: -105%;
    text-align: center;
    width: 100%;
    height: 154px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.GROUP-INFO:hover .GROUP-CAP{
    bottom: 0%;
}
.GROUP-INFO:hover .GROUP-CAP {
    bottom: 0%;
}
/*-- //GROUP --*/
/*-- NEEEWS --*/
.NEEEWS{
	background: #ececec;
} 
.NEEEWS-left h4{
    color: #FF9800;
    margin: 0 0 1em 0;
    font-size: 2.5em;
    font-weight: 800;
}
.NEEEWS-left ul{
	padding:0;
	margin:1em 0 0 0;
}
.NEEEWS-left ul li{
    display: block;
    color: #212121;
    font-size: .9em;
    margin: .5em 0;
}
.NEEEWS-left ul li a{
    color: rgb(102, 138, 236);
    text-decoration: none;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}
.NEEEWS-left ul li a:hover{
	color:#212121;
}
.NEEEWS-left ul li a:focus,.NEEEWS-right a:focus,.date-text a:focus{
	outline:none;
}
.NEEEWS-right a {
	line-height: 1.5em;
    color: #212121;
    font-size: 1em;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}
.NEEEWS-right a:hover{
	color: rgb(89, 124, 219);
}
.NEEEWS-right p {
    color: grey;
    margin: 1em 0 0 0;
    font-size: .9em;
    line-height: 1.8em;
}
/*-- CALMEE --*/ 
.CALMEE-w3lsleft.map {
    padding: 0;
}
.address-row {
    margin-top: 3em;
}
.CALMEE-w3lsright {
	padding: 3em 4em;
    background: #ececec;
}
.CALMEE-w3lsright h6 {
	line-height: 1.5em;
    color: #212121;
    font-size: 1.5em;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}
.address-left {
    padding: 0;
    text-align: center;
}
.address-right {
    padding-left: 2em;
}
.address-row span.glyphicon {
    font-size: 1em;
    border: 1px solid #afafaf;
    padding: 1.6em 1em;
    color: #212121;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
}
.address-row:hover span.glyphicon {
    border-color: rgb(102, 138, 236);
    color: rgb(102, 138, 236);
    -webkit-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
}
.address-row h5 {
	font-size: 1em;
    color: #212121;
    margin: 0 0 1em 0;
    font-weight: 600;
}
.address-right p{
	color:grey;
	font-size:.9em;
	margin:0;
	line-height:1.8em;
}
.address-right p a {
    color: rgb(102, 138, 236);
	text-decoration:none;
}
.address-right p a:hover{
    color: #212121;
} 
.map iframe {
    width: 100%;
    min-height: 526px;
    border: none;
    margin-bottom: -.5em;
}
/*-- //CALMEE --*/
/*-- FUUT --*/ 
.FUUT{
	background: #333;
	padding:4em 0;
}  
.FUUT-title h3 {
    font-size: 1.5em;
    display: inline-block;
    color: #ffffff;
    letter-spacing: 2px;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.AMT-SAD p {
    margin: 2em 0 0 0;
    color: grey;
    font-size: .9em;
    line-height: 1.8em;
} 


/*-- //FUUT --*/
/*-- copyright --*/
.copyright{
	background:#212121;
	padding:1em 0;
}
.copyright p{
	color:#FFFFFF;
	font-size:.9em;
	text-align:center;
	margin:0;
}
.copyright p a{
	color:rgb(102, 138, 236);
}
.copyright p a:hover{
	color:#FFFFFF;
}
/*-- //copyright --*/
